@import url(style-acc.css);
@import url(style-acc-kasun.css);


body{
    font-family: 'Oswald', sans-serif; 
    background-image: url("../images/background.png");
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
body .main-bg{
    font-family: 'Oswald', sans-serif; 
    background-image: url("../images/background-main.jpg");
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
.bg-delta{
    background-image: url("../images/delta-bg.png");
    background-attachment: fixed;
}
.bg-rvo{
    background-image: url("../images/rvo-bg.png");
    background-attachment: fixed;
}
.main-bg-img{
    background-image: url("../images/main.png");
    background-attachment: fixed;
}
   
/* custom scrollbar */
::-webkit-scrollbar
{
  width: 5px;
  background-color: rgba(255, 255, 255, 0);
}
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
::-webkit-scrollbar:horizontal
{
  width: 0px;
  height: 5px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-track:horizontal
{
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb:horizontal
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}
/* ./custom scrollbar */
.size-01{
    min-height: 250px !important;
}
.left a{
    text-align: left !important;
}
.right a{
    text-align: right !important;
}
.logo-full{
    min-height: 150px;
}
.logo-full h1{
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    color: rgb(24, 24, 24);
}
.logo-full p, .btn-area p{
    font-size: 27px;
    font-weight: 500;
    text-align: center;
    color: rgb(24, 24, 24);
    text-transform: uppercase;
}
.pad-removals{
    padding: 8px;
}

.btn-area a{
    display: block;
    padding: 10px 15px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    transition: 1s ease;
}
.btn-area a:hover{
    text-decoration: none;
    background-color: rgb(36, 35, 35);
    transition: 1s ease;
    
}
.btn-area .log-btn{
    background-color: rgb(35, 235, 68);
    transition: 1s ease;
}
.btn-area .signup-btn{
    background-color: rgb(35, 172, 235);
    transition: 1s ease;
}
.form-property input, .form-property textarea{
    background-color: #444;
    border: solid 2px #3a3939;
    display: block;
    width: 100%;
    padding: 3px 10px;
    font-size: 20px;
    color: #fff;
}
.form-property .half{
    display: unset;
    width: 48%;
    margin-bottom: 20px;
}
.half-left{
    float: left;
    margin-right: 2%;
}
.half-right{
    margin-left: 2%;
}
.form-property textarea{
    font-size: 15px;
    height: 165px;
    width: 100%;
    margin-bottom: 15px;
}
.white-area{
    background-color: rgb(255, 252, 226);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.text-link{
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 15px !important;
    color: #3a3939 !important;
    text-transform: uppercase;
    transition: 1s ease;
    background-color: none;
    letter-spacing: 2px;
}
.text-link:hover{
    color: rgb(93, 93, 93) !important;
    transition: 1s ease !important;
    background-color: rgba(0, 0, 0, 0) !important;
}
.mid-box{
    padding: 15px;
    /*width: 31%;*/
	background-color: #fff;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	color: #333333;
    border: 2px transparent solid;
	-webkit-box-shadow: 0px 2px 9px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 2px 9px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 2px 9px -4px rgba(0,0,0,0.75);
	margin: 11px 11px;
    transition: .5s ease;
    min-height: 150px;
}
.mid-box:hover{
    border: 2px #444 solid;
    transition: .5s ease;
}
.mid-box h2{
    font-weight: 400;
    font-size: 20px;
    text-align: left !important;

    text-transform: capitalize;
}
.mid-box p{
    font-weight: 300;
    font-size: 16px;
    text-align: left !important;
    text-transform: inherit;
}
.color-box-1{
    background-color: rgb(87, 248, 213);
}
.color-box-2{
    background-color: rgb(248, 211, 87);
}
.color-box-3{
    background-color: rgb(235, 236, 142);
}
.btn-pad{
    padding: 0px;
}
.content-block p {
    padding: 27px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: rgb(24, 24, 24);
    text-transform: inherit;
    background: #fff;
    line-height: 28px;
}

/* toggle */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 20px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 0px;
    margin-top: 5px;
    font-weight: 700;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 14px;
    left: 4px;
    bottom: 3px;
    background-color: white !important;
    -webkit-transition: .4s;
    transition: .4s;
}



input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* toggle end */
.white-area .tog-area{
    display: block;
    background-color: #444;
    padding: 0 8px;
    color: #fff;
}
.white-area .tog-area p {
    font-size: 17px;
    font-weight: 500;
    text-align: left;
    color: #fff;
    text-transform: capitalize;
    display: inline-block;
    min-width: 240px;
}
.white-tog-area{
    background-color: #fff;
    color: #444;
}
.white-tog-area p{
    min-width: 110px !important;
}
.bill-tab{
    background-color: #2196F3;
    border-radius: 5px;
    padding: 15px;
    display: block;
    float: left !important;
    width: 48%;
    margin: 2px;
}
.pad-det{
    padding: 13px 85px;
}
.text-area{
    text-align: center;
}
.text-area ul {
    text-align: left;
    padding-inline-start: 105px;
}
.text-area ul {
    text-align: left;
    padding-inline-start: 105px;
    padding-top: 20px;
}
.plan-box{
    width: 48%;
}
.plan-box-1{
    background-color: rgb(248, 178, 87);
}
.plan-box-2{
    background-color: rgb(192, 248, 87);
}
.plan-box-3{
    background-color: rgb(219, 110, 252);
}
.plan-box-4{
    background-color: rgb(77, 138, 49);
}
.remove-white{
    background: transparent;
}
.remove-white .tog-area {
    display: block;
    background-color: #fff;
    padding: 0 8px;
}
.remove-white .tog-area p{
    color: #444;
}
.mid-box2{
    width: 100%;
    margin: 11px 0px;
}
.plan2-box-1{
    background: rgb(255, 196, 0);
}
.plan2-box-2{
    background: rgb(183, 186, 224);
}
.plan2-box-3{
    background: rgb(192, 82, 18);
}

	/* ---------------------------------------------------------------------------------------------------------------------------------------------------------- */
	@media (max-width: 450px) {
        .sl-01{margin-top: 125px;}.sl-05{margin-top: 47px;}.sl-09{margin-top: 127px;}.sl-10{margin-top: 103px;}.sl-31{margin-top: 145px !important;}.sl-32{margin-top: 125px !important;}.sl-33{margin-top: 113px !important;}


        .logo-full-slider-6 {min-height: 100px;}.logo-full-slider-9 {min-height: 103px;}.logo-full-slider-10 {min-height: 95px;}
		.logo-full h1 {
			font-size: 48px;
		}
		.logo-full p, .btn-area p {
			font-size: 21px;
        }
        .btn-area a {
            padding: 10px 8px;
        }
        .mid-box {
            margin: 10px 0px;
        }
        .content-block p {
            font-size: 16px;
        }
    
        .btn-area{
            padding: 0 15px;
        }
        .pad-removals {
            padding: 0 8px;
        }
        .form-property textarea {
            height: 70px;
        }
        .form-property input, .form-property textarea {
            font-size: 15px;
        }
        .white-area .tog-area p {
            min-width: 220px;
        }
        .white-area .tog-area p {
            min-width: 220px;
            margin: 10px 0;
            width: 220px;
        }
        .switch {
            position: absolute;
            margin-top: 12px;
            right: 40px;
        }
        .btn-area a { 
            font-size: 18px;
        }
        .pad-det {
            padding: 13px 0;
        }
        .plan-box {
            width: 100%;
        }
        .add-padding{
            padding: 0 15px
        }
        .new-pad-removal{
            padding: 0px;
            margin-bottom: 0px;
        }
        .adding-padding {
            margin-top: 20px;
        }
        /* Dev lak styles */
        .header-text h2{
            text-align: left;
            font-size: 25px;
            margin-left: 117px;
        }
        .search-btn{
            display: block;
            width: 88%;
            margin: 26px 25px;
        }
        .btn-1 {
            font-size: 14px;
            letter-spacing: 0.8px;
        }
        .text-center {
            text-align: center;
            font-size: 20px;
            letter-spacing: 0.8px;
            line-height: 25px;
        }
        .header-text img{
            width: 38% !important;
            margin-top: 23px;
        }
        .header-full img{
        width: 64%;
        }
        .control-btn.outline{
            display: none;
        }
        .body-full {
            margin-top: 192px;
        }
        .body-full h2{
            font-weight: bold;
        }
        .body-full h1{
            font-size: 23px;
        }
        .new-block{
            padding: 75px 15px;
        }
        .footer-mobile{
            border-bottom: #20285d solid 15px;
            padding-bottom: 30px;
        }
        .form-property input, .form-property textarea{
            margin-bottom: 15px;
        }
        .content-area-1{
         border-radius: 0em; 
        }
        .chat-user-add{
            background-color: rgba(0, 0, 0, 0.9);
        }
        .body-full-slidr-86{
            margin-top: 218px;
        }
        .form-property input, .form-property textarea{
            padding: 6px 12px;
            font-size: 15px;
        }
        .white-area-slider-84{
            padding: 9px 25px;
            margin-bottom: 20px;
        }
        /* Dev lak end */
        .header-text-new h2 {
            text-align: left;
            font-size: 25px;
            margin-left: 20px;
        }
        .body-full-left textarea, .delta-body-full-right textarea, .body-full-right textarea{
            width: 100%;
            margin: 5px 0%;
        }
        .body-full-right{
            margin-bottom: 30px;
        }
        .body-full-left{
            margin-bottom: 20px;
        }
        .btn-pad {
            padding: 15px 0px;
        }
        .btn-area-new {
            padding: 0 0px;
        }
        .btn-area p {
            font-size: 21px;
            margin-top: 15px;
        }
        .line-end{
            padding-bottom: 36px;
        }

	}              
	/* ---------------------------------------------------------------------------------------------------------------------------------------- */
	@media (min-width: 451px) and (max-width: 768px) {
			
	}
	/* ---------------------------------------------------------------------------------------------------------------------------------------- */
	@media (min-width: 768px) and (max-width: 991px) {
		
	}
	/* ---------------------------------------------------------------------------------------------------------------------------------------- */
	@media (min-width: 992px) and (max-width: 1199px) {

	}
	/* ---------------------------------------------------------------------------------------------------------------------------------------- */
	@media (min-width: 1400px) {

	}
	/* ---------------------------------------------------------------------------------------------------------------------------------------- */