#home_content{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: inherit;
    width: -webkit-fill-available;
    padding: unset;
}